main {
    transition: margin-right 1s ease;
    -webkit-transition: margin-right 1s ease; 
}
h1 {
    margin: 0;
    padding: 0;
    font-family: $nunitoBold;
    font-size: 56px;
    line-height: 70px;
    color: $dark;
    @include media-xs {
        font-size: 42px;
        line-height: 58px;
        word-break: break-all;
    }
    @include media-sm {
        font-size: 50px;
        line-height: 60px;
    }
    @include media-md {
        font-size: 52px;
        line-height: 60px;
    }
}
h2 {
    margin: 0 0 15px 0;
    padding: 0;
    font-family: $nunitoBold;
    font-size: 46px;
    line-height: 60px;
    color: $dark;
    @include media-xs {
        font-size: 36px;
        line-height: 48px;  
    }
    @include media-sm {
        font-size: 40px;
        line-height: 50px;  
    }
}
h3 {
    margin: 0;
    padding: 0;
    font-family: $nunitoBold;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: $dark;
    @include media-xs {
        font-size: 24px;
        line-height: 32px;    
    }
}
p {
    font-family: $openSans;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: $dark;
}
a {
    position: relative;
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
        color: inherit;
    }
    &:active {
        outline: none;
        text-decoration: none;
    }
    &:visited {
        outline: none;
        text-decoration: none;
    }
    &.read-more {
        text-transform: uppercase;
        font-family: $nunitoBold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $mainRed;
        &:after {
            content: "";
            display: inline-block;
            margin-left: 15px;
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            top: 1px;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            background-image: url("../../../assets/images/icons/red-right-icon.svg");
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 1px;
            left: 0;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            background-color: $mainRed;
        }
        &:hover {
            &:after {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
            &:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                -moz-transform: scaleX(1);
                -ms-transform: scaleX(1);
                -o-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
        &.white-read-more {
            color: $white;
            &:before {
                background-color: $white;
            }
            &:after {
                background-image: url("../../../assets/images/icons/white-right-icon.png");
            }
        }
    }
}
.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    @include media-xs {
        display: initial;
        display: initial;
        display: block;
        -ms-flex-wrap: initial;
            flex-wrap: initial;
    }
    &:before,
    &:after {
        display: none;
        display: none;
    }
    > [class*='col-'] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        @include media-xs {
            display: initial;
            display: initial;
            display: block;
            -webkit-box-orient: initial;
            -webkit-box-direction: initial;
            -ms-flex-direction: initial;
            flex-direction: initial;
        }
    }
}

// Buttons
.primary-btn {
    background-color: $mainRed;
    color: $white;
    font-family: $nunitoBold;
    font-size: 16px;
    line-height: 16px;
    padding: 17px 54px;
    text-align: center;
    border-radius: 0;
    letter-spacing: 0.02em;
    position: relative;
    z-index: 1;
    border: 1px solid $mainRed;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
        text-decoration: none;
        color: $mainRed;
        outline: 0;
        background-color: $white;
    }
    &:focus {
        text-decoration: none;
        color: $mainRed;
        outline: 0;
        background-color: $white;
    }
    &:active {
        outline: 0;
    }
}
.second-btn {
    background-color: transparent;
    color: $white;
    font-family: $nunitoBold;
    font-size: 16px;
    line-height: 16px;
    padding: 17px 54px;
    text-align: center;
    border-radius: 0;
    letter-spacing: 0.02em;
    position: relative;
    z-index: 1;
    border: 1px solid $white;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
        text-decoration: none;
        color: $white;
        outline: 0;
        border-color: $mainRed;
        background-color: $mainRed;
    }
    &:focus {
        text-decoration: none;
        color: $white;
        outline: 0;
        border-color: $mainRed;
        background-color: $mainRed;
    }
    &:active {
        outline: 0;
    }
}
.container { 
    @include media-xs-landscape {
        max-width: 100%;
    }
}
.remove-padding {
    padding: 0;
}
.slick-dots {
    position: relative;
    bottom: 0;
    margin: 40px 0 30px 0;
    height: 11px;
    li {
        width: 11px;
        height: 11px;
        margin: 0 26px 0 0;
        top: -12px;
        &:last-child {
            margin-right: 0;
        }
        &.slick-active {
            button {
                &:before {
                    background-image: url("../../assets/images/icons/red-dot.svg")
                }
            }
        }
        button {
            width: 11px;
            height: 11px;
            padding: 0;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            &:before {
                opacity: 1;
                content: "";
                background-image: url("../../assets/images/icons/dark-dot.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 11px;
                height: 11px;
            }
            &:hover {
                &:before {
                    background-image: url("../../assets/images/icons/red-dot.svg");
                }
            }
        }
    }
}
.content-padding {
    padding: 75px 0;
}
.margin-top {
    margin-top: -55px;
    @include media-xlg {
        margin-top: -65px;
    }
    @include media-xs {
        margin-top: 0;
    }
    @include media-sm {
        margin-top: -100px;
    }
    @include media-md {
        margin-top: -100px;
    }
}