.product-feedback-form {
    background-color: $white;
    padding: 40px 30px 35px 30px;
    font-size: 0;
    .form-container {
        margin-top: 0;
    }
    input,
    textarea {
        background-color: rgba(245, 242, 242, 0.8);
    }
    .form-group {
        display: inline-block;
        margin-bottom: 22px;
        width: calc(100% / 2 - 15px);
        &.full-width {
            margin: 0 0 30px 0;
            width: 100%;
        }
        &:nth-last-child(2) {
            margin-left: 30px;
        }
    }
    .feedback-content {
        font-size: 0;
        margin-bottom: 40px;
        .feedback-item {
            border: 1px solid $lightGray;
            text-align: center;
            display: inline-block;
            width: calc(100% / 5 - 22.5px);
            margin-right: 28px;
            padding: 10px 0 10px 0;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            span {
                display: block;
                margin: 0 auto;
                color: $lightBrown;
                font-size: 20px;
                line-height: 27px;
                font-family: $nunitoBold;
                letter-spacing: 0.03em;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            &.active {
                span {
                    color: $mainRed;
                }
                .star-content {
                    i {
                        &:after {
                            content: "";
                            background-image: url("../../../assets/images/icons/red-star.svg");
                        }
                    }
                }
            }
            &:hover {
                span {
                    color: $mainRed;
                }
                .star-content {
                    i {
                        &:after {
                            content: "";
                            background-image: url("../../../assets/images/icons/red-star.svg");
                        }
                    }
                }
            }
            .star-content {
                display: block;
                margin: 0 auto 5px auto;
                font-size: 0;
                i {
                    display: inline-block;
                    margin-right: 3px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:after {
                        content: "";
                        background-image: url("../../../assets/images/icons/gray-star.svg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        display: block;
                        width: 12px;
                        height: 11px;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}